/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* CUSTOM CSS */

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #202124;
}

main {
    width: 1000px;
    margin: 10px auto;
    font-size: 1.5em;
    margin: auto;
    line-height: 1.8;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background: #202124;
    height: 80px;
    width: 100%;
    font-size: 1.5em;
}

nav > .nav-item > a {
    text-decoration: none;
    color: #eeeeee;
    transition: 0.2s;
}

nav > .nav-item > a:hover {
    color: coral;
    transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin: 0.4em;
    line-height: 1.8;
}

h1 {
    font-size: 1.8em;
    line-height: 3;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 0.7em;
    margin: 0.6em;
    text-align: center;
    /* text-decoration: underline; */
    color: #807395;
}
h4 {
    font-size: 0.9em;
    text-align: left;
}

p {
    font-weight: 300;
    margin: 30px 0;
    font-size: 0.8em;
}

ul {
    font-weight: 300;
    list-style-type: disc;
    padding: 0 0 0 40px;
    font-size: 0.8em;
}

a {
    font-weight: 500;
    color: coral;
    text-decoration: underline;
}

figcaption {
    font-size: 0.8em;
}

hr {
    border: 1px solid #dcdfe9;
}

table {
    border: 1px solid grey;
    width: 100%;
}

th {
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 0.8em;
}

td {
    padding: 0.8em 1.5em;
    font-weight: 300;
    font-size: 0.8em;
}

footer {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background: #202124;
    color: white;
    height: 80px;
    width: 100%;
    font-size: 0.8em;
}

footer > p {
    font-size: 1em;
    font-weight: 500;
}

iframe {
    /* margin: 0 auto; */
    width: 100%;
    -ms-zoom: 1.2;
    -moz-transform: scale(1.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: 0 0;
}

.banner {
    /* margin: 40px 0; */
    padding: 1em 2em 0.5em 2em;
}

.strong {
    font-weight: 500;
}

.apply-button {
    color: #ffffff;
    background-color: #57c2d4;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    display: flex;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.frame {
    background-color: #f1eef6;
    padding: 2em;
    border-radius: 20px;
    font-weight: 300;
}

.outcomes {
    font-weight: 300;
    color: #6f727b;
    margin: 0;
    padding: 0 0 2em 0.5em;
}
.faq-accordion-content > p {
    font-size: 0.5em;
}

/* Media Queries */

/* ...
// all rules outside of @media queries apply to devices 1201px and above
... */

@media (max-width: 1200px) {
    main {
        width: 80vw;
        line-height: 1.8;
    }

    /* nav {
        font-size: 1em;
    } */

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 0.9em;
    }

    p,
    ul,
    figcaption {
        font-size: 0.9em;
        line-height: 1.7;
    }
    td,
    th {
        font-size: 0.7em;
        padding: 0.6em 1em;
    }

    .banner {
        padding: 1em 0;
    }

    .frame {
        padding: 1.8em;
    }
}

@media (max-width: 768px) {
    /* ...
	// rules here apply to devices from 0px to 768px (inclusive)
	... */

    main {
        width: 90vw;
        line-height: 1.5;
        font-size: 1em;
    }

    nav {
        font-size: 0.8em;
    }

    h1 {
        font-size: 2em;
        line-height: 1.6;
    }

    h2 {
        font-size: 1.4em;
        line-height: 1.6;
    }

    h3 {
        font-size: 0.9em;
        line-height: 1.6;
    }

    p,
    ul,
    figcaption {
        font-size: 0.8em !important;
        line-height: 1.7;
    }
    td,
    th {
        font-size: 0.7em;
        padding: 0.6em 1em;
    }

    .frame {
        padding: 1.5em;
    }
    .banner {
        padding: 0.5em 0;
    }

    .outcomes {
        padding: 0 0 1.5em 0;
    }
}

.hidden {
    display: none;
}

.photo {
    border-radius: 5rem;
}
